// nextflow.config

// -----------------------------
// Parameters
// -----------------------------
params {
    outdir = 'results'
    genome = 'resources/genomes/hg19_chr8.fa'

    // NEW: Added input_fastq for the main.nf pipeline
    //input_fastq = 'test_data/sample1.fastq'
    input_fastq = "${baseDir}/test_data/sample1.fastq"

}

// -----------------------------
// Executor configuration
// -----------------------------
process.executor = 'local'

// -----------------------------
// Enable Singularity support
// -----------------------------
singularity {
    enabled = true
    autoMounts = true
    runOptions = '--cleanenv'
}

// -----------------------------
// Global process settings
// -----------------------------
process {
    container = ''  // Defaults to no container unless overridden
    errorStrategy = 'retry'
    maxRetries = 2
}

// -----------------------------
// Container per process overrides
// -----------------------------
process {
    withName: fastqc_process {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName: alignment_process {
        container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7'
    }

    withName: mark_duplicates {
        container = 'quay.io/biocontainers/picard:2.26.11--hdfd78af_0'
    }

    withName: index_bam {
        container = 'quay.io/biocontainers/samtools:1.16.1--h6899075_1'
    }

    withName: gc_bias_metrics {
        container = 'quay.io/biocontainers/picard:2.26.11--hdfd78af_0'
    }

    withName: coverage_report {
        container = 'quay.io/biocontainers/mosdepth:0.3.3--hdfd78af_1'
    }

    withName: contamination_check {
        container = 'quay.io/biocontainers/verifybamid:1.1.3--h9ee0642_6'
    }

    withName: variant_calling {
        container = 'quay.io/biocontainers/gatk4:4.3.0.0--py39hdfd78af_0'
    }

    withName: annotate_vcf {
        container = 'quay.io/biocontainers/ensembl-vep:109.3--pl5321hdfd78af_1'
    }

    withName: generate_mdt_report {
        container = 'quay.io/biocontainers/pandoc:2.19.2--hce30654_0'
    }

    withName: pipeline_logger {
        container = 'quay.io/biocontainers/python:3.10.4--h12debd9_0'
    }
}

// -----------------------------
// Profile definitions
// -----------------------------
profiles {
    singularity {
        singularity.enabled = true
        process.executor = 'local'
    }
}
